/* Section */
section {
  padding: 5rem 0rem;

  @media (max-width: 37.5em) { /* phone */
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .row {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    @media (max-width: 56.25em) { /* tab-port */
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    padding: 0 1.5rem;

    @media (max-width: 37.5em) { /* phone */
      padding: 0;
    }

    & p + p {
      margin-top: 1rem;
    }

    & span {
      margin-top: 2rem;
    }
  }
}

/* Container */
.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1140px;

  @media (max-width: 75em) { /* tab-land */
    max-width: 960px;
    width: 100%;
  }

  @media (max-width: 56.25em) { /* tab-port */
    max-width: 720px;
    width: 100%;
    justify-content: center;
  }

  @media (max-width: 48em) { /* tab-port-sm */
    max-width: 720px;
    width: 100%;
  }

  @media (max-width: 37.5em) { /* phone */
    max-width: 540px;
    width: 100%;
  }
}
